USE [StoreDB]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 28/11/2024 10:47:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [varchar](100) NOT NULL,
	[ClientLastName] [varchar](100) NOT NULL,
	[ClientEmail] [varchar](100) NOT NULL,
	[ClientDUI] [varchar](20) NOT NULL,
	[ClientTelephone] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 28/11/2024 10:47:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Names] [varchar](100) NOT NULL,
	[LastNames] [varchar](100) NOT NULL,
	[UserEmployee] [varchar](50) NOT NULL,
	[PasswordEmployee] [varchar](255) NOT NULL,
	[DUI] [varchar](20) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28/11/2024 10:47:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeId] [int] NOT NULL,
	[ProductBrand] [varchar](50) NOT NULL,
	[ProductModel] [varchar](50) NOT NULL,
	[ProductVersion] [varchar](50) NOT NULL,
	[ProductColor] [varchar](50) NOT NULL,
	[ProductPrice] [float] NOT NULL,
	[ProductAmount] [int] NOT NULL,
	[Availability] [bit] NULL,
	[ImageUrl] [nvarchar](2083) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 28/11/2024 10:47:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ProductTypeId] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategory] [varchar](50) NOT NULL,
	[CategoryDescription] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseList]    Script Date: 28/11/2024 10:47:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseList](
	[PurchaseListId] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 28/11/2024 10:47:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PurchaseOrderId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Details] [varchar](100) NOT NULL,
	[PurchaseDate] [datetime] NOT NULL,
	[PurchaseState] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28/11/2024 10:47:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleType] [varchar](50) NOT NULL,
	[RoleDescription] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 28/11/2024 10:47:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[SaleClientId] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[SaleDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesList]    Script Date: 28/11/2024 10:47:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesList](
	[SalesListId] [int] IDENTITY(1,1) NOT NULL,
	[SalesId] [int] NULL,
	[ProductId] [int] NULL,
	[QuantitySold] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Total] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 28/11/2024 10:47:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [varchar](100) NOT NULL,
	[SupplierPhone] [varchar](100) NOT NULL,
	[SupplierEmail] [varchar](100) NOT NULL,
	[SupplierAddres] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [ClientName], [ClientLastName], [ClientEmail], [ClientDUI], [ClientTelephone]) VALUES (11, N'josue', N'ivan', N'ivanbeltran@1610', N'485849309', N'79569603')
INSERT [dbo].[Clients] ([ClientId], [ClientName], [ClientLastName], [ClientEmail], [ClientDUI], [ClientTelephone]) VALUES (12, N'ivan', N'beltran', N'ivanbeltran1610@gmail.com', N'35524', N'79569603')
INSERT [dbo].[Clients] ([ClientId], [ClientName], [ClientLastName], [ClientEmail], [ClientDUI], [ClientTelephone]) VALUES (13, N'kevin', N'cruz', N'kevin@gmail.com', N'12345678', N'12345678')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [Names], [LastNames], [UserEmployee], [PasswordEmployee], [DUI], [Email], [RoleId]) VALUES (10, N'josue ivan', N'beltran campos', N'admin', N'1234', N'35435345', N'ivan@gamil.com', 1)
INSERT [dbo].[Employees] ([EmployeeId], [Names], [LastNames], [UserEmployee], [PasswordEmployee], [DUI], [Email], [RoleId]) VALUES (14, N'marisol', N'lazo', N'paty', N'234', N'5405023', N'pary@gmail.com', 1)
INSERT [dbo].[Employees] ([EmployeeId], [Names], [LastNames], [UserEmployee], [PasswordEmployee], [DUI], [Email], [RoleId]) VALUES (22, N'estefany ', N'guadalupe', N'fany', N'1234', N'464252', N'fany@gmail.com', 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductTypeId], [ProductBrand], [ProductModel], [ProductVersion], [ProductColor], [ProductPrice], [ProductAmount], [Availability], [ImageUrl]) VALUES (45, 2, N'dell', N'envy36', N'dgdrs', N'azul', 800, 2, 1, N'ProductsIMG\5037604009933909477.jpg')
INSERT [dbo].[Products] ([ProductId], [ProductTypeId], [ProductBrand], [ProductModel], [ProductVersion], [ProductColor], [ProductPrice], [ProductAmount], [Availability], [ImageUrl]) VALUES (47, 3, N'samsung', N'note 21', N'csfge', N'negro', 900, 0, 0, N'ProductsIMG\5037604009933909475.jpg')
INSERT [dbo].[Products] ([ProductId], [ProductTypeId], [ProductBrand], [ProductModel], [ProductVersion], [ProductColor], [ProductPrice], [ProductAmount], [Availability], [ImageUrl]) VALUES (48, 5, N'asus', N'monitor12', N'dvdts', N'gris', 344.65, 0, 0, N'ProductsIMG\5037604009933909479.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([ProductTypeId], [ProductCategory], [CategoryDescription]) VALUES (1, N'Ordenadores', N'Ordenador de escritorio de alto rendimiento')
INSERT [dbo].[ProductType] ([ProductTypeId], [ProductCategory], [CategoryDescription]) VALUES (2, N'Laptops', N'Laptop ligera y portátil con alta duración de batería')
INSERT [dbo].[ProductType] ([ProductTypeId], [ProductCategory], [CategoryDescription]) VALUES (3, N'Moviles', N'Smartphone con pantalla AMOLED y cámara de 108MP')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseList] ON 

INSERT [dbo].[PurchaseList] ([PurchaseListId], [PurchaseOrderId], [ProductId], [Quantity]) VALUES (2006, 2019, 48, 4)
INSERT [dbo].[PurchaseList] ([PurchaseListId], [PurchaseOrderId], [ProductId], [Quantity]) VALUES (2007, 2020, 49, 4)
INSERT [dbo].[PurchaseList] ([PurchaseListId], [PurchaseOrderId], [ProductId], [Quantity]) VALUES (2008, 2022, 49, 2)
SET IDENTITY_INSERT [dbo].[PurchaseList] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrders] ON 

INSERT [dbo].[PurchaseOrders] ([PurchaseOrderId], [SupplierId], [Details], [PurchaseDate], [PurchaseState]) VALUES (2019, 7, N'compra de monitores', CAST(N'2024-11-25T23:08:02.057' AS DateTime), 1)
INSERT [dbo].[PurchaseOrders] ([PurchaseOrderId], [SupplierId], [Details], [PurchaseDate], [PurchaseState]) VALUES (2020, 3, N'orden 7', CAST(N'2024-11-26T02:03:11.730' AS DateTime), 1)
INSERT [dbo].[PurchaseOrders] ([PurchaseOrderId], [SupplierId], [Details], [PurchaseDate], [PurchaseState]) VALUES (2022, 7, N'orden 9', CAST(N'2024-11-26T09:08:44.060' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PurchaseOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleType], [RoleDescription]) VALUES (1, N'gerente', N'usuario encargado de administradar todo')
INSERT [dbo].[Roles] ([RoleId], [RoleType], [RoleDescription]) VALUES (2, N'cajero', N'usuario encargado solo de vender')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleId], [SaleClientId], [TotalAmount], [SaleDate]) VALUES (13, 11, CAST(8322.00 AS Decimal(10, 2)), CAST(N'2024-11-28T15:12:00.787' AS DateTime))
INSERT [dbo].[Sales] ([SaleId], [SaleClientId], [TotalAmount], [SaleDate]) VALUES (14, 12, CAST(4322.00 AS Decimal(10, 2)), CAST(N'2024-11-28T15:14:46.140' AS DateTime))
INSERT [dbo].[Sales] ([SaleId], [SaleClientId], [TotalAmount], [SaleDate]) VALUES (15, 13, CAST(2800.00 AS Decimal(10, 2)), CAST(N'2024-11-28T15:41:16.947' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesList] ON 

INSERT [dbo].[SalesList] ([SalesListId], [SalesId], [ProductId], [QuantitySold], [Price], [Total]) VALUES (5, 13, 45, 3, NULL, CAST(2400.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesList] ([SalesListId], [SalesId], [ProductId], [QuantitySold], [Price], [Total]) VALUES (6, 13, 49, 1, NULL, CAST(4322.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesList] ([SalesListId], [SalesId], [ProductId], [QuantitySold], [Price], [Total]) VALUES (7, 13, 50, 4, NULL, CAST(1600.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SalesList] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [SupplierPhone], [SupplierEmail], [SupplierAddres]) VALUES (1, N'joue ', N'12345667', N'josue@gmail.com', N'san salvador')
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [SupplierPhone], [SupplierEmail], [SupplierAddres]) VALUES (3, N'ivan ', N'12213443', N'ivan@gmail.com', N'usulutan')
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [SupplierPhone], [SupplierEmail], [SupplierAddres]) VALUES (5, N'ivan ', N'12213443', N'ivan@gmail.com', N'usulutan')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__AD48A6FFBF08F034]    Script Date: 28/11/2024 10:47:49 p. m. ******/
ALTER TABLE [dbo].[Clients] ADD UNIQUE NONCLUSTERED 
(
	[ClientEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__E66AD785F9CE9840]    Script Date: 28/11/2024 10:47:49 p. m. ******/
ALTER TABLE [dbo].[Clients] ADD UNIQUE NONCLUSTERED 
(
	[ClientDUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__4B224B3DA36197D9]    Script Date: 28/11/2024 10:47:49 p. m. ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[UserEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D10534B2DBEA93]    Script Date: 28/11/2024 10:47:49 p. m. ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__C03671B9FEBCE377]    Script Date: 28/11/2024 10:47:49 p. m. ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[DUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User]    Script Date: 28/11/2024 10:47:49 p. m. ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [UQ_User] UNIQUE NONCLUSTERED 
(
	[UserEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ProductUnique]    Script Date: 28/11/2024 10:47:49 p. m. ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [UQ_ProductUnique] UNIQUE NONCLUSTERED 
(
	[ProductBrand] ASC,
	[ProductModel] ASC,
	[ProductVersion] ASC,
	[ProductColor] ASC,
	[ProductPrice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductT__3A113311CFE5634A]    Script Date: 28/11/2024 10:47:49 p. m. ******/
ALTER TABLE [dbo].[ProductType] ADD UNIQUE NONCLUSTERED 
(
	[ProductCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_ProductAmount_Default]  DEFAULT ((0)) FOR [ProductAmount]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Availability_Default]  DEFAULT ((0)) FOR [Availability]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [PurchaseState]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([ProductTypeId])
GO
ALTER TABLE [dbo].[PurchaseList]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[PurchaseList]  WITH CHECK ADD  CONSTRAINT [FK__PurchaseL__Purch__31B762FC] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseList] CHECK CONSTRAINT [FK__PurchaseL__Purch__31B762FC]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([SaleClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
/****** Object:  StoredProcedure [dbo].[OrdenProcessed]    Script Date: 28/11/2024 10:47:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrdenProcessed]
    @PurchaseOrderId INT
AS
BEGIN
    MERGE INTO Products AS P
    USING (
        SELECT ProductId, SUM(Quantity) AS Quantity
        FROM PurchaseList
        WHERE PurchaseOrderId = @PurchaseOrderId
        GROUP BY ProductId
    ) AS L
    ON P.ProductId = L.ProductId
    WHEN MATCHED THEN
        UPDATE SET P.ProductAmount = P.ProductAmount + L.Quantity;

    UPDATE PurchaseOrders
    SET PurchaseState = 1
    WHERE PurchaseOrderId = @PurchaseOrderId;
END;
GO
